{% extends "base_generic.html" %}

{% block content %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Set a new password</h2>
                    {% if validlink %}
                        <p>Please enter (and confirm) your new password.</p>
                        <form action="" method="post">
                        {% csrf_token %}
                            <span>New password</span>
                            <span>{{ form.new_password1.errors }}</span>
                            <div class="mb-3">{{ form.new_password1 }}</div>
                            <span>Confirm password</span>
                            <span>{{ form.new_password2.errors }}</span>
                            <div class="mb-3">{{ form.new_password2 }}</div>
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Change my password</button></div>
                        </form>
                    {% else %}
                        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}