{% extends "base_generic.html" %}

{% block content %}
<div class="container py-2">
    <h1 class="text-center">Competitions</h1>
    {% load site_reusables %}
    
    {% if ongoing_competitions %}
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Ongoing</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                
                {% get_competition_cards ongoing_competitions %}
            </div>
        </div>
    {% endif %}

    {% if upcoming_competitions %}
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Upcoming</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                {% get_competition_cards upcoming_competitions %}
            </div>
        </div>
    {% endif %}

    {% if completed_competitions %}
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Completed</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                {% get_competition_cards completed_competitions %}
            </div>
        </div>
    {%endif%}
</div>
{% endblock %}