{% extends "base_generic.html" %}

{% block content %}
<div class="container py-2">
    <h1 class="text-center">Writeups</h1>
</div><!-- Start: Features Small Icons Color -->
<div class="container text-white bg-primary border rounded border-0 p-4 p-lg-5 py-4 py-xl-5 container-dark mb-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="text-white">By category</h2>
            <p class="w-lg-50">View each of our core categories below.</p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {% for category in core_tags %}
            <div class="col py-3" style="border-radius: 15px;background: #{{ category.theme_color }};">
                <div class="d-flex">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-semi-white text-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon">
                        {% if category.icon %}
                            <img src="{{ category.icon.url }}" width="1em" height="1em" style="width: 16px; height: 16px;">
                        {% endif %}
                    </div>
                    <div class="px-3">
                        <a href={{ category.get_absolute_url }}>
                            <h4 class="text-white">{{ category.name }}</h4>
                        </a>
                        <p>{{ category.short_desc }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- End: Features Small Icons Color -->
<!-- Start: Articles Cards -->
<!-- Needs datatables
<div class="container py-4 py-xl-5">
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Full Listing</h2>
            <p class="w-lg-50">This table contains a full list of all writeups, sorted by competition, category, and subcategory if applicable.</p>
        </div>
    </div>
    <span>Dynamic datatables here</span>
    {% for post in posts %}
        <span> {{ post.title }}</span>
    {% endfor %}

</div>
-->
<!-- End: Articles Cards -->
{% endblock %}