{% extends "base_generic.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <!-- Start: Banner Heading -->
    <section class="py-4 py-xl-5">
        <div style="background: #{{tag.theme_color}}" class="container text-white border rounded border-0 p-4 p-md-3">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">{{ tag.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if tag.content %}
                        {{ tag.content|safe }}
                    {% else %}
                        <span><em>No details have been written about this tag yet!</em></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </section><!-- End: Banner Heading -->
    <div class="container">
        <h2>Tools</h2>
        <div class="row">
            {% for tool in tag.tools.all %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 d-flex flex-column align-items-center" style="margin-bottom: 30px;">
                {% if tool.image %}
                    <img width="100" height="100" src="{{ tool.image.url }}">
                {% else %}
                    <img class="fit-cover" width="100" height="100" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                {% endif %}
                <a href="{{tool.get_absolute_url}}"><span style="font-size: 1.5em;">{{ tool.name }}</span></a>
                <p style="text-align: center;">{{ tool.meta_lead }}</p>
                <div>
                    {% for tool_tag in tool.tags.all %}
                        <a href="{{ tool_tag.get_absolute_url }}"><span class="badge" style="background-color: #{{ tool_tag.theme_color }}; margin-right: 5px">{{ tool_tag.name }}</span></a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <h2>Recent writeups</h2>
        {% load site_reusables %}
        {% show_recent_posts user.is_authenticated %}
    </div>
    <div class="container">
        <h2>All writeups</h2>
        {% load site_reusables %}
        {% show_all_posts user.is_authenticated %}
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}