{% extends "base_generic.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<!-- Start: Banner Heading -->
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="row border rounded border-0 p-4 p-md-5">
                <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center">
                    {% if tool.image %}
                        <img width="200" height="200" src="{{ tool.image.url }}">
                    {% else %}
                        <img class="fit-cover" width="200" height="200" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    {% endif %}
                </div>
                <div class="col-md-6 col-xl-9 d-flex flex-column justify-content-center">
                    <h1>{{ tool.name }}</h1>
                    <div>
                        {% for tool_tag in tool.tags.all %}
                        <a href="{{ tool_tag.get_absolute_url }}"><span class="badge" style="background-color: #{{ tool_tag.theme_color }}; margin-right: 5px">{{ tool_tag.name }}</span></a>
                        {% endfor %}
                    </div>
                    <p class="mb-1">
                        {{ tool.meta_lead }}
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End: Banner Heading -->
    <div class="container">
        <h2>Details</h2>
        {% if tool.content %}
            {{ tool.content|safe }}
        {% else %}
            <span><em>No description provided!</em></span>
        {% endif %}
    </div>
    <div class="container">
        <h2>Recent writeups</h2>
        {% load site_reusables %}
        {% show_recent_posts user.is_authenticated %}
    </div>
    <div class="container">
        <h2>All writeups</h2>
        {% load site_reusables %}
        {% show_all_posts user.is_authenticated %}
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}